footer {
  display: block;
  width: 100%;
  height: auto;
  background:linear-gradient(to right bottom, #000, #10003d); ;
  color: white;
  text-align: center;
  padding: 2rem 2rem;
}



.footer-info{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}

.instruction{
    display: flex;
    width: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;

}

.contact{
    position: relative;
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    left: 20px;
    
}

.contact::before{
    position: absolute;
    content:'';
    left:0;
    background: linear-gradient(to bottom, #128a88, #021965);
    width: 3px;
    height: 100%;
    left: -20px;

}

.contact span{
    margin-bottom: 10px;
}

.footer-menu{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-menu span{
    margin-bottom:10px;
}

hr{
    margin: 20px;
    background-color: #6f6f6f;
    height: .5px;
    outline: none;
    text-decoration: none;
    border: none;

}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c8c8c;
    font-size: 14px;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .footer-info{
        flex-direction: column;
    }

    .instruction{
        width: 100%;
        margin-bottom: 20px;
        display: block;
    }

    .contact{
        width: 100%;
        margin-bottom: 20px;
    }

    .contact::before{
        display: none;
    }

    .footer-menu{
        width: 100%;
    }
    
}